<div class="container-fullwidth">
    <div >
        <div class="row justify-content-between">
            <div class="col-4" >
                <img src="../../assets/images/black-icon.png" width="150px" height="150px">
                <label>My Library Online</label>
            </div>

            <div class="col-4" >
                <mat-form-field appearance="fill">
                    <mat-label>Search By</mat-label>
                    <mat-select id="criteriaSelect" [(ngModel)]="selectedCriterion">
                        <mat-option *ngFor="let criterion of criteria" [value]="criterion.value">
                            {{criterion.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <input matInput placeholder="Search text" id="searchKeywordInput" [(ngModel)]="searchText">
                    </mat-form-field>

                <button class="mat-button" >
                  <a  (click) = searchResource()>Search</a> 
                </button>
            </div>
        </div>
    </div> 
</div>
