label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: lightgray  ;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.5rem;
    color:  #FA8072 ;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  span{
    font-weight: bold;

  }