

<div *ngIf="infoPage == '/about'">
    <h2>About us</h2> 
    We inspire and enable independent minds, providing resources, spaces and technologies.

    <h3>Our library at a glance</h3>
    What makes our service great? Helping you find, analyse, use and manage knowledge – fast.

    <h3>Giving to the Library</h3>
    Your donation can improve outcomes for students, staff and the community.
</div>

<div *ngIf="infoPage == '/getLibraryCard'">
    <h2>Get Library Card</h2> 
    
    <h3>Get an eCard</h3>
    Residents of County are eligible for an eCard. An eCard allows patrons immediate access to many of the Library's online services and databases including Ancestry, Rosetta Stone, Lynda.com, The New York Times and East Bay Times. It also allows patrons to place holds and borrow eBooks.

    NOTE: eCards ARE NOT VALID for use with LINK+, Kanopy Movies, or Discover & Go.

    <h3>Get a Full-Service Library Card</h3>
    To upgrade to a full-service card, please bring a photo ID with address verification to your local library during open hours.

</div>


<div *ngIf="infoPage == '/libraryPolicies'">
    <h2>Library Policies</h2> 
    <h3>Important Information About Your Library Card and Account</h3>

    Your full-service library card is free and allows you to borrow materials from all 26 community libraries of the Contra Costa County Library. In addition, a full-service library card provides access to online resources, free and discounted museum passes, internet access, and more. Applicants must be present to receive a library card. Your Library card is valid for 3 years from the date of issue. Expired cards can be renewed for free in person at any Community Library upon presentation of valid picture ID and proof of current address.

   <h3> Collection Development and Access </h3>
    It is the policy of the Contra Costa County Library to meet the informational, educational, recreational, and cultural needs of the community by providing a variety of library resources. Professional judgment and ongoing community analysis guide the selection process.


</div>


<div *ngIf="infoPage == '/contactUs'">
    <h2>Contact Us</h2> 
    Have account questions? Need help with eBooks or finding something? Contact us and we'll get started.

    <h3>Text Us</h3>
    Monday - Friday
    10:00 a.m. - 5:00 p.m.
    Text your question to
    (123) 345-678

    <h3>Email Us</h3>
    We respond to Emails Monday-Friday except when the library is closed.

    <h3>Call Us</h3>
    Call your local library for assistance
    Community library contact information
    or call (123) 456-789
</div>



