body {
    font-family: sans-serif ;
    text-align: justify;
    background-color: #ce9f9f;
}

h1 {
    color: #FA8072;
}
label{
    color: #1F9096 ;
    font-family: sans-serif;
}
input{
    color: lightgray;
}


.box {
    height: 75px;
    width: 75px;
    /* display: inline-block; */
    margin: 0 10px 0 10px;
}

#primary1 {
    background-color:#2FBDC5  ;
}
#primary2 {
    background-color: #FA8072 ;
}
#primary3 {
    background-color: gray ;
}
#secondary1 {
    background-color:#9CDEE2 ;
}
#secondary2 {
    background-color: #F2B086  ;
}
#secondary3 {
    background-color: lightgray  ;
}
.font1{
    font-style: normal;
}
.font2{
    font-style: italic;
}
.font3{
    font-weight: bold;
}

