
<span></span>
<!-- <h3>All resources</h3> -->


<ul class="resources">
  <li *ngFor="let category of resources">
      <div *ngIf="category.resources.length > 0" class="jumbotron">
        <h3>{{category.categoryName}}</h3> 
        <ul class="resources">
          <li *ngFor="let resource of category.resources">
            <a routerLink="/resourceDetails/{{resource.resourceId}}">
              <span class="badge">{{resource.resourceName}}</span>  {{resource.authorName}}
            </a>
          </li>
       </ul>
      </div>
      
  </li>
</ul>


